@page "/calc"

<h3>Szamologep</h3>

<style>
    .gep {
        border: 2px solid red;
    }
    .gep button{
        width: 80px;
    }
    .ertek{
        text-align: right;
        font-weight: bold;
        font-size:larger;
    }
</style>

<table class="gep">
    <tr>
        <td colspan="4" class="ertek">@_gep.Ertek</td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">%</button></td>
        <td><button class="btn btn-secondary">CE</button></td>
        <td><button class="btn btn-secondary">C</button></td>
        <td><button class="btn btn-secondary">&lArr;</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">1/x</button></td>
        <td><button class="btn btn-secondary">x*x</button></td>
        <td><button class="btn btn-secondary">sqrt(x)</button></td>
        <td><button class="btn btn-secondary">/</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">7</button></td>
        <td><button class="btn btn-secondary">8</button></td>
        <td><button class="btn btn-secondary">9</button></td>
        <td><button class="btn btn-secondary">x</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">4</button></td>
        <td><button class="btn btn-secondary">5</button></td>
        <td><button class="btn btn-secondary">6</button></td>
        <td><button class="btn btn-secondary">-</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">1</button></td>
        <td><button class="btn btn-secondary">2</button></td>
        <td><button class="btn btn-secondary">3</button></td>
        <td><button class="btn btn-secondary">+</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">+/-</button></td>
        <td><button class="btn btn-secondary">0</button></td>
        <td><button class="btn btn-secondary">.</button></td>
        <td><button class="btn btn-secondary">=</button></td>
    </tr>
</table>

@code {
    private readonly Gep _gep = new Gep();

}
